In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv("../data_given/winequality.csv")

df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'TARGET'],
      dtype='object')

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.6000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.1200,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.0000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.9000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.0120,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.0000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.0000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996723,0.001948,0.9868,0.9956,0.99672,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.7400,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.3300,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.4000,9.5000,10.20000,11.100000,14.90000
TARGET,1599.0,5.636023,0.807569,3.0000,5.0000,6.00000,6.000000,8.00000

In [4]:
df.columns = [ '_'.join(col.split()) for col in df.columns]

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed_acidity,1599.0,8.319637,1.741096,4.6000,7.1000,7.90000,9.200000,15.90000
volatile_acidity,1599.0,0.527821,0.179060,0.1200,0.3900,0.52000,0.640000,1.58000
citric_acid,1599.0,0.270976,0.194801,0.0000,0.0900,0.26000,0.420000,1.00000
residual_sugar,1599.0,2.538806,1.409928,0.9000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.0120,0.0700,0.07900,0.090000,0.61100
free_sulfur_dioxide,1599.0,15.874922,10.460157,1.0000,7.0000,14.00000,21.000000,72.00000
total_sulfur_dioxide,1599.0,46.467792,32.895324,6.0000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996723,0.001948,0.9868,0.9956,0.99672,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.7400,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.3300,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.4000,9.5000,10.20000,11.100000,14.90000
TARGET,1599.0,5.636023,0.807569,3.0000,5.0000,6.00000,6.000000,8.00000

In [6]:
class NotInRange(Exception) :
    def __init__(self, message="value not in given range - by Oracle") :
        self.message = message
        super().__init__(self.message)

In [7]:
raise NotInRange

NotInRange: value not in given range - by Oracle